{% load cart_template_tags %}

<!-- Second navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Left</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="//codeply.com">Codeply</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li> -->
      </ul>
    </div>

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'home' %}" style="color: #0a7bff;">
          <h2>Shusha</h2>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li> -->
            {% if user.is_authenticated %}
            <div class="dropdown show">
                <a class="mx-2 my-1 btn btn-outline-secondary btn-small dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'index' %}">Welcome page</a>
                </div>
            </div>

            {% if request.user|cart_item_count == 0 %}
            <a href="{% url 'order-summary' %}" class="mx-2 my-1 col-xs-12 btn btn-small btn-outline-info">
              Your cart is empty 
              <svg class="my-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              {{request.user|cart_item_count}}
            </a>
            {% else %}
            <a href="{% url 'order-summary' %}" class="mx-4 col-xs-12 btn btn-small btn-outline-success">
                  <svg class="my-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                  {{request.user|cart_item_count}}
            </a>
            {% endif %}

              {% else %}
                  <p class="my-1 mr-2">You are not logged in</p>
                  <a class="btn btn-light btn-outline-secondary my-0" href="{% url 'login' %}">Log In</a>
              {% endif %}
          </div>
        </ul>
    </div>

  </div>
</nav>
