{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{{ header }}</h1>

    {% if name == "name" %}
        {% for externalcomponent in externalcomponents %}
            <div class="row">
                <p>{{externalcomponent.name}}</p>
                <a class="btn btn-primary" href="{% url url externalcomponent.id %}">Edit</a>
            </div>
        {% endfor %}
    {% elif name == "line_item" %}
        {% for externalcomponent in externalcomponents %}
            <div class="row">
                <p>{{externalcomponent.name}}</p>
                <p>{{externalcomponent.unit}}</p>
                <p>{{externalcomponent.cost_per_unit}}</p>
                <a class="btn btn-primary" href="{% url url externalcomponent.id %}">Edit</a>
            </div>
        {% endfor %}
    {% elif name == "ec_finished_goods" %}
        {% for externalcomponent in externalcomponents %}
            <div class="row">
                <p>{{externalcomponent.fg_name}}</p>
                <p>{{externalcomponent.component}}</p>
                <a class="btn btn-primary" href="{% url url externalcomponent.id %}">Edit</a>
            </div>
        {% endfor %}
    {% elif name == "ec_semi_finished_goods" %}
        {% for externalcomponent in externalcomponents %}
            <div class="row">
                <p>{{externalcomponent.sfg_name}}</p>
                <p>{{externalcomponent.component}}</p>
                <a class="btn btn-primary" href="{% url url externalcomponent.id %}">Edit</a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}