{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{{ header }}</h1>

    {% for foiling in foilings %}
    <div class="row">
        <p>{{foiling.description}}</p>
        {% if foiling.fg_name != None %}
            <p>{{foiling.fg_name}}</p>
            <p>{{foiling.unit}}</p>
            <p>{{foiling.cost_per_unit}}</p>
            <a class="btn btn-primary" href="{% url 'foiling_fg_update' foiling.id %}">Edit</a>
        {% elif foiling.sfg_name != None %}
            <p>{{foiling.sfg_name}}</p>
            <p>{{foiling.unit}}</p>
            <p>{{foiling.cost_per_unit}}</p>
            <a class="btn btn-primary" href="{% url 'foiling_sfg_update' foiling.id %}">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}