{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{{ header }}</h1>

    {% for packing in packings %}
    <div class="row">
        <p>{{packing.description}}</p>
        {% if packing.fg_name != None %}
            <p>{{packing.fg_name}}</p>
            <p>{{packing.unit}}</p>
            <p>{{packing.cost_per_unit}}</p>
            <a class="btn btn-primary" href="{% url 'packing_fg_update' packing.id %}">Edit</a>
        {% elif packing.sfg_name != None %}
            <p>{{packing.sfg_name}}</p>
            <p>{{packing.unit}}</p>
            <p>{{packing.cost_per_unit}}</p>
            <a class="btn btn-primary" href="{% url 'packing_sfg_update' packing.id %}">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}