{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{{ header }}</h1>

    {% if name == "name" %}
        {% for rawmaterial in rawmaterials %}
            <div class="row">
                <p>{{rawmaterial.category}}</p>
                <a class="btn btn-primary" href="{% url url rawmaterial.id %}">Edit</a>
            </div>
        {% endfor %}
    {% elif name == "line_item" %}
        {% for rawmaterial in rawmaterials %}
            <div class="row">
                <p>{{rawmaterial.name}}</p>
                <p>{{rawmaterial.unit}}</p>
                <p>{{rawmaterial.cost_per_unit}}</p>
                <a class="btn btn-primary" href="{% url url rawmaterial.id %}">Edit</a>
            </div>
        {% endfor %}
    {% elif name == "rm_finished_goods" %}
        {% for rawmaterial in rawmaterials %}
            <div class="row">
                <p>{{rawmaterial.fg_name}}</p>
                <p>{{rawmaterial.raw_material}}</p>
                <a class="btn btn-primary" href="{% url url rawmaterial.id %}">Edit</a>
            </div>
        {% endfor %}
    {% elif name == "rm_semi_finished_goods" %}
        {% for rawmaterial in rawmaterials %}
            <div class="row">
                <p>{{rawmaterial.sfg_name}}</p>
                <p>{{rawmaterial.raw_material}}</p>
                <a class="btn btn-primary" href="{% url url rawmaterial.id %}">Edit</a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}