{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{{ header }}</h1>

    {% for semifinishedgood in semifinishedgoods %}
    <div class="row">
        <p>{{semifinishedgood.name}}</p>
        <p>{{semifinishedgood.fg_name}}</p>
        <p>{{semifinishedgood.unit}}</p>
        <p>{{semifinishedgood.cost_per_unit}}</p>
        <a class="btn btn-primary" href="{% url 'sfg_update' semifinishedgood.id %}">Edit</a>
    </div>
    {% endfor %}
</div>
{% endblock %}